services:
  discordmusicbot:
    image: discordmusicbot
    build:
      context: .
      dockerfile: ./Dockerfile
    command: >
      sh -c "uv run python main.py"
    volumes:
      - ./cached_music:/app/cached_music
      - ./config.ini:/app/config.ini
      - ./images:/app/images